/* grid.css defining grids */

[class*='col-'] {
	float: left;
	padding: 0.2rem;
}

.col-1of2 {
	width: 48%;
}

/* Defining styles for our 3 column grid */

.col-1of3 {
	width: 32%;
	text-align: center;
}

@media only screen and (max-width: 767px) {
        .col-1of3 { width: 48%; }
		.col-1of2 { width: 98%; }
}